<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="float:left">
    <img src="assets/img/decorative-flower-57-202517.png" >
  </div>
  <h1>{{ title }}</h1>
</div>

<div id="login" class="container">

  <div class="form-group">
    <label for="username">User Name </label>
    <input
      formControlName="username"
      id="username"
      type="text"
      class="form-control">
  </div>

  <div class="form-group">
    <label for="password">User Password</label>
    <input
      formControlName="password"
      id="password"
      type="text"
      class="form-control">
  </div>

  <div>
    <button class="btn btn-primary" type="submit">Sign In</button>
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div>

</div>

