<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="float:left">
    <img src="assets/img/decorative-flower-57-202517.png" >
  </div>
  <h1>{{ title }}</h1>
</div>

<nav class="site-header sticky-top py-1 navbar-light bg-light">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" routerLink="app-locations">Branch Locations</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">

      <div id="login" class="container">

        <div class="form-group">
          <label for="username">User Name </label>
          <input
            formControlName="username"
            id="username"
            type="text"
            class="form-control">
        </div>

        <div class="form-group">
          <label for="password">User Password</label>
          <input
            formControlName="password"
            id="password"
            type="text"
            class="form-control">
        </div>

        <div>
          <button class="btn btn-primary" type="submit" (click)="signIn()">Sign In</button>
          <button class="btn btn-primary" type="submit" (click)="signUp()" >Sign Up</button>
        </div>

      </div>

    </div>
    <div class="col">

      <div class="container">
        <router-outlet> </router-outlet>
      </div>

    </div>
  </div>
</div>





