h1{
  color: #168450;
  margin: 10px;
}
input{
  margin: 10px;
}
#username{
  margin-left: 34px;
}

#login{
  background-color: lightsteelblue;
  width: 350px;
  height: 250px;
  float: left;
  margin: 20px;
}

button{
  margin: 5px;
  width: 275px;
}

